/Library
/Logs
/Temp
UserSettings/Layouts/default-6000.dwlt
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
pokeOhScape.sln
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
.vs/pokeOhScape/FileContentIndex/4e85521c-5513-4c65-947a-b2d8f73f6686.vsidx
.vs/pokeOhScape/v17/.suo
.vs/pokeOhScape/v17/DocumentLayout.backup.json
.vs/pokeOhScape/v17/DocumentLayout.json
.vsconfig
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
UserSettings/Layouts/default-6000.dwlt
